.App {
  text-align: center;
  

}

button{
    border-radius: 100%;
    position: absolute;
    left: 56px;
    top: 494px;
    height: 41px;
    background-color: red;
}

ul{
  list-style-type: none;
}

img{
    height: 325px;
    position: absolute;
    right: -8px;
}
/*#pick{
  overflow:scroll;
}*/

#poke2{
  position:absolute;
    top: 147px;
    font-size: 41px;
    overflow:scroll;
    height:300px;
    width:300px;
}

#poke3{
    position: absolute;
    display: inline;
    left: 475px;
    top: 163px;
    font-size: 37px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
li{
  padding:5px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
